

body{
    background: #e9b0b9;
}
h1{
    font-family:"Jennifer Lynne", sans-serif;
    font-size:150px;
    color: white;
    text-align: center;
}
h2 {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    color: white;
    width: 100%;

}

h3{
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 40;

}

ul{

    padding: 0;
    list-style-type: none;
    margin: 0;


}



li a{

    display: block;
    background-color: #c88a8b;
    margin: auto;
    width: auto;
    padding: 17px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;

}


div.pakker{
    width: auto;
    padding: 50px;
    background-color: #ffe3e4;
    min-height: 300px;
    margin: 80px auto;
    position: relative;
}


